body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar {
  /* margin-top: 60px; */
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: auto;
  background-color: #53b4a4; /* couleur vert foncé associée aux pharmacies */
  overflow-x: hidden;
  padding-top: 20px;
  }
  
  
  
